# .ebextensions/https-instance.config
option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    LoadBalancerIsShared: false
  aws:elbv2:listener:default:
    DefaultProcess: default
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP

  # Configurações de HTTPS
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: 'arn:aws:acm:us-east-1:698974420629:certificate/3fdfe3f0-80d3-494d-a355-19b21916061c'

# Configurações adicionais de segurança
Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

# Redirecionamento HTTP para HTTPS
files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;
        return 301 https://$host$request_uri;
      }